{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>owner register</title>
</head>
<body>
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Login Main Page</h1>

<button class="space-above"><a href="{{url_for('customer_login')}}">Customer Login</a></button>
<button class="space-above"><a href="{{url_for('owner_login')}}">Owner Login</a></button>



    </div>
  </div>

</div>

{% endblock %}
<input type="hidden" id="role" name="role" value="owner">
</body>
</html>